.direnv
regression.joblib
src/__pycache__
src/mlops_2026_mini_project1.egg-info
tmp
.secrets
TP2/mlruns/0
TP2/mlartifacts/382717116897983890/models
TP2/mlruns
TP4/.ipynb_checkpoints
TP2/mlartifacts/615903767243266673/models
TP2/src/__pycache__
